/* Header */
header{
    display: flex;
    align-items: center;
    justify-content: space-between;    
    background-color: #213e60;
}

.logo{

    height: 70px;
    margin: 20px;
}

.menu_header{
    display: flex;
    justify-content: space-between;    
    gap: 20px;
    margin: 50px;
    color: aliceblue;
}

.conteúdo{
    height: 30vh;
}




/* Body */

body {
    font-family: 'Inter', sans-serif;
}


.conteudo{
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 50vh;
    padding-right: 50vh;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h2 {
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    color: #213e60;
}

label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
    
}
button {
    width: 25%;
    height: 75%;
    background: #E68c3a;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 15px;
    border-radius: 15px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
}


button:hover {
    background: #213e60;
}

.cadastrar_button{
    display: flex;
    justify-content: end;
    height: 9vh;
}

.cadastrar_livro{
    display: flex;
    justify-content: space-between;
    
}

.infor{
    
    width: 70%;
}

.label_img {
    background-color: #213e60;
    border-color: #213e60;
    border: 100px;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    height: 90%;
    width: 11vw;
}

.label_img:hover {
    background-color: #45a049;
}





/* Footer */

footer{
    background-color: #213e60;
    padding: 20px;
   
}

.infor_footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 50vh;
}

.logo_footer{

    height: 20vh;

}

.imagem_footer{

    align-items: center;
    justify-content: center;
    
}

.copy{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

