body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}


/*Header*/

header{
    width: 100vw;
    background: #1a3c66;
    
}

.img-header{
    width: 100vw;
    height: 15vh;
}

.img-profile {
    position: absolute;
    top: 85px; 
    left: 20px; 
    width: 4vw;  
    margin-left: 4vh; 
    border-radius: 50%;
    border: 3px solid white;
    object-fit: cover; 
}

.profile a{
    margin-left: 10px;
}



.header {
    width: 100vw;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    background: #1a3c66;
    color: white;
    padding: 5px;
}

.profile {
    display: flex;
    align-items: center;
    padding-left: 7vw;
   font-size: 20px;
   font-weight: 600;
}



.menu{
    margin-right: 5%;
    display: flex;
    gap: 5px;
}

.menu .links {
    color: white;
    margin-left: 15px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 5px;
}


/*Main*/

.info-top{

    display: flex;
    justify-content: space-between;

}

.data{
    background-color:#fff ;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
    border-radius: 10px;
}

.container {

    width: 80%;
    margin: auto;
    padding: 20px;
    margin-top: 20px;
}





.search-box {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 12px;
    margin-bottom: 20px;
    background-color: #ebebeb;
}


.book-stats {
    display: flex;
    justify-content: space-around;
    
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
    
}

.book-stats div {
    text-align: center;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: #fff;
    padding: 10px;
    height: 5vh;
    width: 5vw;
    border-radius: 10px;
    justify-items: center;
    align-items: center;
    align-content: center;
}

.book-stats div span {
    color: #0056b3;
    font-weight: 200;
    font-size: 30px;
}




/* Biblioteca */

.container-edit {
    
    margin: 2rem auto;
    padding: 2rem;
    border-radius: 8px;
  }
  
  .top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
  }
  
  .back-button {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  
  .book-info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;
  }

  .book-info-container{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    gap: 10px;
    
    
  }

  .book-info-container h2{
    width: 95%;

  }
  
  .book-info img {
    width: 16vw;
    height: auto;
    border-radius: 6px;
    object-fit: cover;
  }
  
  .book-title h2 {
    margin: 0;
    font-size: 1.4rem;
  }
  
  .book-title p {
    margin: 0;
    color: #666;
  }
  
  .content-box {
    background-color: #D9D9D9;
    padding: 1.5rem;
    border-radius: 6px;
    display: flex;
    justify-content: center;
  }

  .campo-texto {
    width: 100%;
    height: 50vh;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #D9D9D9;
    border-radius: 5px;
    resize: vertical; 
    word-wrap: break-word;
    overflow-wrap: break-word;
    background-color: #D9D9D9;
  }
  

  
  .quote {
    font-style: italic;
    padding: 1rem;
  }